/* Form (block) */

.b-form {

}

.b-form__list {
  margin: 0;
  list-style: none;
}

.b-form__item {
  font-size: inherit;
  margin-bottom: em($baseline);

  &:last-child {
    margin-bottom: 0;
  }
}
