/* Sector (block) */

.b-sector {
  position: relative;
  overflow: hidden;
  padding: em($unit * 5);
  background: $white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 auto;

  & > * {
    flex: 0 1 auto;
  }
}

.b-sector__header {
  margin-bottom: em($baseline/2);
}

.b-sector__main {
  flex: 1 1 auto;
  margin-bottom: em($baseline/2);
}

.b-sector__star {
  position: absolute;
  right: em($unit);
  width: em(100);
  height: em(100);
  bottom: em($unit * 2);
  fill: $yellow;

  .u-dark-alt & {
    fill: $green;
  }
}

.b-sector--rtl {
  align-items: flex-end;
  text-align: right;

  .b-sector__star {
    left: em($unit);
    top: em($unit * 3);
    right: auto;
    bottom: auto;
  }
}
