/* Main (container) */

.c-main {
  z-index: $z-index--main;
  position: relative;
  overflow: hidden;
  padding: em($unit * 14) 0 em($unit * 10) 0;
}

@include respond-min($bp--mobile) {

  .c-main {
    padding-top: em($unit * 16);
  }

}

@include respond-min($bp--aside) {

  .c-main {
    margin-right: percentage($footer--width/100);
  }

}

@include respond-min(($footer--max-width / ($footer--width/100))) {

  .c-main {
    margin-right: em($footer--max-width);
  }

}
