/*
// Home
*/

.home {

  .b-block {
    max-width: em($block--home);
  }

  & > .b-block {
    position: relative;
    z-index: $z-index--home;
  }
}

/*
// Home - Hero
*/

.home-hero {
  z-index: $z-index--hero;
  position: relative;
  padding-top: em($unit * 7);
  padding-bottom: 0;
  background: $green;
  overflow: hidden;

  .b-block {
    position: relative;
    margin-top: 5%;
  }
}

.home-hero__logo {
  position: relative;
  z-index: $z-index--hero + 10;
  display: block;
  // margin-top: 5%;
  margin-bottom: -2%;
  width: 55%;
  left: -5%;

  .js & {
    opacity: 0;
    transform: translateY(20%) scale(0.1) rotateZ(-15deg);
    transition: opacity 300ms ease-in,
                transform 600ms cubic-bezier(.01,1.4,.6,1.2);
  }

  // .no-csstransforms &,
  .js-anim & {
    opacity: 1;
    transform: translateZ(0);
  }

  h1 {
    @include visually-hidden;
  }

  img {
    width: 100%;
  }
}

.home-hero__bg {
  z-index: $z-index--hero + 2;
  position: relative;

  div {
    width: 100%;
    padding-top: em(15);
    padding-bottom: percentage(600/3000);
    // padding-bottom: calc(#{percentage(600/3000)} + #{em(15)});
  }

  svg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: visible;

    path {
      transform: scale(1);
    }
  }

  .st0 { fill: #f2f0e6; }
  .st1 { stroke: #fffbcc; }
  .st2{ stroke: #abe9d5; }

  .st1, .st2 {
    fill: none;
    stroke-width: 7;
    stroke-miterlimit: 10;
  }
}

.home-hero__crane {
  position: absolute;
  right: 3.5%;
  top: 0;
  width: 40%;
  max-width: em(500);

  &:before,
  &:after {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    padding-bottom: percentage(520/500);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
  }

  &:before {
    z-index: $z-index--hero + 1;
    background-image: url("/assets/img/origami-crane-bg.svg");
    margin-top: -3.2%;
    margin-left: -0.8%;
  }

  &:after {
      z-index: $z-index--hero + 20;
      background-image: url("/assets/img/origami-crane--small.png");

      @include respond-min($bp--mobile)
      {
          background-image: url("/assets/img/origami-crane.png");
      }
  }
}

.home-hero__burst {
  z-index: $z-index--hero - 1;
  position: absolute;
  top: -100%;
  left: 50%;
  height: 0;
  width: 100%;

  &:after {
    position: absolute;
    display: block;
    content: "";
    top: 0%;
    left: -25%;
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    animation: animateSpin 50s linear infinite;
    background: url("/assets/img/starburst.svg") center center no-repeat;
    background-size: 100% auto;
    opacity: 0.1;
  }
}

@keyframes animateSpin {
  100% {
    transform: rotate(360deg);
  }
}

.home-star {
  z-index: $z-index--hero + 30;
  display: none;
  position: absolute;
  fill: $yellow;
  opacity: 0.5;
  transform: scale(0.5);
}

@keyframes animateStar {
    0% {   opacity: 0.5; transform: scale(0.5); }
    50% {  opacity: 1.0; transform: scale(1.0); }
    100% { opacity: 0.5; transform: scale(0.5); }
}

.home-star {
  width: percentage(100/$block--home);
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  animation: animateStar 3s cubic-bezier(0,0.6,0.4,1) infinite;
}

.home-star:nth-of-type(1),
.home-star:nth-of-type(3) {
  width: percentage(75/$block--home);
  height: 110px;
  margin-left: -37.5px;
  margin-top: -55px;
}

.home-star:nth-of-type(1) {
  left: 52%;
  top: 118%;
}

.home-star:nth-of-type(2) {
  top: 36%;
  left: 78%;
  animation-delay: 1s;
}

.home-star:nth-of-type(3) {
  top: 160%;
  left: 92%;
  animation-delay: 2s;
}

@include respond-min($bp--home)
{
  .home-star {

    // .csstransforms & {
      display: block;
    // }
  }
}

@include respond-max($bp--home - 1)
{
  .home-hero {

    .b-block {
      margin-top: 5%;
    }
  }

  .home-hero__logo {
    // margin-top: 5%;
  }
}

@include respond-max($bp--mobile - 1)
{

  .home-hero {

    .b-block {
      margin-top: 6%;
    }
  }

  .home-hero__logo {
    // margin-top: 6%;
    width: 65%;
  }

  .home-hero__crane {
    width: 40%;
    right: 2%;
    top: 14%;
  }

  .home-hero__bg {
    svg path {
      transform: scale(0.5);
    }
  }
}

/*
// Home - Services
*/

.home-services {
  position: relative;
  margin-bottom: em($baseline * 1.5);
}

.home-services__item {
  margin-bottom: em($baseline);
}

@include respond-min($bp--home)
{
  .home-hero + .b-block {
    margin-top: -12%;
  }

  .home-services {
    display: flex;
    flex-wrap: nowrap;
    margin-left: em(-$baseline/2);
    margin-right: em(-$baseline/2);
    height: em(300);
    margin-bottom: 0;

    hr {
      display: none;
    }

    .e-button {
      margin-top: em($baseline/2, 18);
    }
  }

  .home-services__item {
    // flex-basis: 33.333%;
    width: 33.333%;
    padding: 0 em($baseline/2);
    margin: 0;

    &:nth-of-type(2) {
      align-self: center;
    }

    &:nth-of-type(3) {
      align-self: flex-end;
    }
  }

}
